.input {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 100px;
  }
  
  .in1 {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .in1 input {
    width: 50%;
  }
  
  .place {
    padding-left: 20px;
    border: 2px solid #333333;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
  }
  
  .place::placeholder {
    font-weight: 500;
    font-size: 15px;
  }
  
  .place:focus {
    border: 1px solid green;
    outline: none;
  }
  
  textarea.place {
    height: 150px;
    resize: none;
  }
  
  .btnWrapper {
    display: flex;
    justify-content: center;
  }
  
  .sendBtn {
    font-weight: 500;
    background-color: green;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sendBtn:hover {
    background-color: darkgreen;
  }
  
  /* Tablet View */
  @media (max-width: 1024px) {
    .input {
      padding: 0 60px;
    }
  
    .in1 input {
      width: 100%;
    }
  }
  
  /* Mobile View */
  @media (max-width: 768px) {
    .input {
      padding: 0 30px;
    }
  
    .in1 {
      flex-direction: column;
    }
  
    .in1 input {
      width: 100%;
    }
  
    .btnWrapper {
      justify-content: flex-start;
    }
  
    .sendBtn {
      width: 100%;
    }
  }
  